﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CRUD.master.cs" Inherits="FinalProject.CRUD" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>CRUD</title>
     <link rel="stylesheet" href="style.css" /> 
</head>
<body>
<form runat="server">
    <header id="header">
        <nav id="main-menu">
            <ul>
                <li><a href="Read.aspx">Read</a></li>
                <li><a href="Create.aspx">Create</a></li>
                <li><a href="Manage.aspx">Manage</a></li>               
            </ul>
            <ASP:CustomMenu:MyMenu runat="server"/> 
        </nav>
        <h1> Jenna's Final ASP Project - CRUD Basics </h1>
      </header>
      <div>
      <asp:ContentPlaceHolder id="MainContent" runat="server"></asp:ContentPlaceHolder>
      </div>
</form>
</body>
</html>
