﻿<%@ Control Language="C#" Inherits="FinalProject.Menu" %>


 <asp:SqlDataSource runat="server" id="menu_pages"
        ConnectionString="<%$ ConnectionStrings:crud_final_con %>">
</asp:SqlDataSource>
<asp:Menu 
    runat="server" 
    ID="menu">

</asp:Menu>
