﻿body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: #CDCDCD;
}

#main-menu{
    background-color:black;
    color:white;
}

h1,h2,h3{
    font-family:Georgia, 'Times New Roman', Times, serif
}

label{
    padding-bottom:10px;
}

#NewPageContent{
   width:200px;
   height:600px; 
}

button:hover{
    background-color:#444444;
    color:white;

}


